# mac os
.DS_Store

# forge / gradle
.gradle
build/
out/
classes/
run/

# Minecraft Launch
config/
logs/

# eclipse 
*.launch
.settings
.classpath
.project
eclipse

.idea/
*.iml
*.ipr
*.iws
*.bat

# vscode
.settings/
.vscode/
bin/
.classpath

# Minecraft
run/
runServer/
